@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


body {
    background-color: #fAF7F4;
}

.text-color-mod {
    color: #ea8c55;
}

.text-color-mod:hover {
    color: darkred;
}

.img-button img {
    border-radius: 15px;
    transition: 0.5s;
}

.img-button img:hover {
    transform: scale(1.05);
    border-radius: 50px;
    /* Creates a circular shape */
}

.img-button img:active {
    transform: scale(0.9);
    border-radius: 10px;
    /* Creates a circular shape */
}